<div class="about-container">
    <h1 class="logo">Puzzles</h1>
    <h3 class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente non nihil beatae molestiae. Incidunt dignissimos quas eum quasi, architecto vel?</h3>
</div>