<div class="about-container">
    <h1 class="logo">Puzzles</h1>
    <h3 class="description">Puzzles is a place where people go, to feel like they belong <br>
        Gonna take advantage of dumb drunk girls <br>
        No we are not (Bro), that would be wrong <br>
        A place where wit and wisdom bloom <br>
        A place to bang chicks in Ted's room <br>
        Not happing <br>
        We'll talk about it <br>
        At Puzzles we all fit together <br>
        On sunny days or stormy weather <br>
        So pull up a chair and sit for a spell <br>
        There's laughter to share and stories to tell <br>
        Puzzles is a place where everyone feels at home  <br>
        And we bang chicks in Ted's room</h3> <br>
</div>