<div class="navbar">
    <h1>Maiden~resu</h1>
    <input type="text" placeholder="Search Anything" class="searchText"></input>
    <button type="submit" class="button">Search</button>
    <a href="../info" class="img"><img src="/images/user-6380868_640-removebg-preview.png" height="50px" /></a>
</div>
