<div class="navbar">
    <h1>Maiden~resu</h1>
    <div class="searchBar">
    <button class="icon-button"><i class="fa-regular fa-square-plus fa-lg" onclick="gotoAddPost()"></i></a></button>
    <input type="text" placeholder="Search Anything" class="searchText"></input>
    <button type="submit" class="icon-button"><i class="fa-solid fa-magnifying-glass"></i></button>
</div>
<div class="nav-buttons">   
    <a href="../info" class="img"><img src="/images/user-6380868_640-removebg-preview.png" height="50px" /></a>
</div>
</div>
<script>
    function gotoAddPost() {
      window.location.href="/addPost";  
    }
  </script>