    <div class="interest-container">
    <h3>Interests</h3>
    <div>
    <input type="text" class="searchText" placeholder="e.g. r/sports r/gaming etc">
    <button type="submit" class="icon-button"><i class="fa-solid fa-magnifying-glass"></i></button></div>
    </div>   