    <div class="interest-container">
    <h3>Topics</h3>
    <div>
    <input type="text" class="searchText" placeholder="e.g. r/sports r/gaming etc">
    <button type="submit" class="icon-button"><i class="fa-solid fa-magnifying-glass"></i></button></div>
    <div class= 'topics'>
        <% for (var i = 0; i < topics.length; i++) { %>
            <a href="/topic/<%= topics[i].topicName %>"><button><%= topics[i].topicName %></button></a>
            <br>
        <% } %>
    </div>
    </div>   