<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/createPost.css">
</head>
<body>
<%- include("partials/header.ejs") -%>
<%- include("partials/navbar"); -%>
<!-- <%- include("partials/sidebar"); -%> -->
<div class="create-container">

<form action="/post/createPost" method="post" class="userPost" >
  <h1>Create Post</h1>
    <input type="text" name="postTitle" class="postTitle" placeholder="Title">
    <input type="text" name="postTopic" class="postTitle" placeholder="Topic">
    <textarea name="postContent" cols="30" rows="20" class="postContent" placeholder="Text"></textarea>
    <div class="file-input">
    <input type="file" accept=".jpg" name="postImage" id="file-input" >
    <label for="file-input" >Add image<i class="fa-solid fa-photo-film"></i></label> 
    </div>
    <button type="submit" name="button" onclick="myFunction()" class="button-submit">Submit</button>
</form>
<div class="new-image">
<img id="display-image" class="create-image" src="https://cdn.pixabay.com/photo/2017/11/10/05/24/add-2935429_960_720.png " alt="">
</div>
<script>
    function myFunction() {
      window.location.href="/home";  
    }
    let fileInput = document.getElementById("file-input");
    let displayImage = document.getElementById("display-image");
    fileInput.addEventListener("change", function(){
      let file = this.files[0];
      if(file){
        let reader = new FileReader();
        reader.addEventListener("load", function(){
          displayImage.setAttribute("src", this.result);
          
        });
        reader.readAsDataURL(file);
      }
    });
  </script>
  </div>
<%- include("partials/footer.ejs") -%>
</body>
</html>