<%- include("partials/header"); -%>
<%- include("partials/navbar"); -%>
<!-- <%- include("partials/sidebar"); -%> -->
<h1 class="create-post-title">Create Post</h1>
<form action="/post/createPost" method="post" class="userPost" >
    <label >Title</label>
    <input type="text" name="postTitle" class="postTitle">
    <label>Post</label>
    <textarea name="postContent" cols="30" rows="20" class="postContent"></textarea>
    <label>Topic</label>
    <input type="text" name="postTopic" class="postTitle">

    <label>Add image</label>
    <input type="file" accept=".jpg" name="postImage" id="file-input" >
    <label for="file-input" >&nbsp;Choose a file <i class="glyphicon glyphicon-open"></i></label>
    <button type="submit" name="button" onclick="myFunction()" class="button-submit">Submit</button>
</form>
<script>
    function myFunction() {
      window.location.href="/home";  
    }
  </script>
<%- include("partials/footer.ejs") -%>