<%- include("partials/header"); -%>
<%- include("partials/navbar"); -%>
<!-- <%- include("partials/sidebar"); -%> -->
<h1 class="create-post-title">Create Post</h1>
<form action="/home" class="userPost" >
    <label >Title</label>
    <input type="text" name="postName" class="postName">
    <label>Post</label>
    <textarea name="postBody" cols="30" rows="20" class="postBody"></textarea>
    <label>Add image</label>
    <input type="file" accept=".jpg" name="inputImage" id="file-input" >
    <label for="file-input" <i class="glyphicon glyphicon-open"></i>>&nbsp;Choose a file</label>
    <button type="submit" name="button" onclick="myFunction()" class="button-submit">Submit</button>
</form>
<script>
    function myFunction() {
      window.location.href="/home";  
    }
  </script>
<%- include("partials/footer.ejs") -%>