<%- include("partials/header.ejs") -%>
    <%- include("partials/navbar.ejs") -%>
        <div class="topic-body">
            <img src="" alt="cover-pic">
            <div class="topic-content">
                <h1>Topic Name</h1><button>Join</button>
                <h3>Topic Desc:</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque dolores consectetur enim, aliquid
                    a architecto accusamus cumque ut qui itaque libero!</p>
                <button>Create Post</button>
            </div>