:root{
    --primary-text-color: #D6D3CD;
    --secondary-text-color: #BD3402;
    --primary-color: #2c3333;
    --secondary-color: #2e4f4f;
    --tertiary-color: #2C3333;
}
body{
    margin: 0;
    font-family: 'Merriweather', serif;
    color: var(--primary-text-color);
    background-color: var(--primary-color);

}

.navbar{
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    padding-top: 2px;
    height: 50px;
    font-size: 10px;
    position: sticky;
    top: 0;
}

.searchText{
    background-color: var(--tertiary-color);
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    padding: 0 1rem;
    margin-right: 10px;

}
.navbar .searchText{
    height: 30px;
    width: 500px;
}
.searchText:focus{
    outline: none;
}
.icon-button{
    background-color: var(--secondary-color);
    border: none;
    color: var(--primary-text-color);
    font-size: 1rem;
    cursor: pointer;
    padding-bottom: 5px;
    margin-right: 5px;
}
.icon-button:hover{
    border-bottom: 1px solid var(--secondary-text-color);
}
.navbar button{
    background-color: var(--secondary-color);
    border: none;
    color: var(--primary-text-color);
    font-size: 1rem;
    cursor: pointer;
}

.content-body{
    display: flex;
    justify-content: center;
}
.content-container{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.sidebar{
    margin-top: 30px;
}
.about-container{
    position: sticky;
    top: 80px;

    margin-top: 30px;
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 8px;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--primary-text-color);
}
.interest-container{
    position: sticky;
    top: 80px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    padding-bottom: 20px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--primary-text-color);
}
.sidebar .create-container button{
    background-color: var(--secondary-text-color);
    border: none;
    color: var(--primary-text-color);
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin-top: 10px;
}
.sidebar .create-container button:hover{
    background-color: var(--primary-text-color);
    color: var(--primary-text-color);
}
.sidebar .interest-container div{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}
.sidebar .interest-container .searchText{
    width: 150px;
    height: 30px;
    margin-right: 10px;
}
.postBox{
    margin-top: 10px;
}
.post{
    width: 700px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--secondary-color);
    margin: 20px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--primary-text-color);
}
.postImage{
    background-color: #030303;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    object-fit: contain;
    height: 400px;    
}
.post .post-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    align-items: center;
}
.postTopic{
    font-size: 12px;
    font-weight: bold;
    color: white;
}
.bottom-buttons{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}
.userPost{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.postButton{
    background: transparent;
    border: none;
    color: white;
    font-size: 15px;
}
.postButton:hover{
    color: var(--secondary-text-color);
}

.postBody{
    max-width: 60%;
    border-radius: 5px;
    margin-left: 5%;
    background-color: #030303;
    color: white;
}

input#file-input{
    display: none;
}

input#file-input + label{
    background-color: #4d8cf2;
    width: 120px;
    height: 20px;
    border-radius: 9px;
    font-size: 15px;
    border: 2px solid #9ec3ff;
    text-align: center;
}

.button-submit{
    background-color: var(--secondary-text-color);
    border: none;
    color: var(--primary-text-color);
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 5%;
    margin-bottom: 10px;
}

textarea{
    resize: none;
}

.create-post-title{
    margin-left: 5%;
}